.body_note {
  display: flex;
  align-items: center;
  padding: 0 20px 10px 20px;
  font-size: 20px;
}

.notes_body{
  overflow: auto;
}

.note_content {
  width: 100%;
}

.note_button {
  font-weight: 700;
  font-size: 30px;
  transition: 0.5s;
  &:hover {
    color: crimson;
    cursor: pointer;
  }
}